extends base

block content
    main.main 
        .login-form 
            h2.heading-secondary.ma-bt-lg log into your account
            form.form.form--login
                .form_-group    
                    label.form__label(for="email") Email Address
                    input#email.form__input(type="email",placeholder="you@exemple.com",name="email",required)
                .form_-group.ma-bt-lg   
                    lebel.form__label(for="password") Password 
                    input#password.form__input(type="password",placeholder="********",name="password",required) 
                .form__group 
                    button.btn.btn--green Login  